body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }

  /* SIDEBAR */

  .sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 14px;
    margin-top: -100px;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 18px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  div.container-fluid {
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    margin-left: 150px;
    margin-right: 50px;
  }

  div.webLinks {
    position: absolute;
    bottom: 0;
    width: 100px;
    text-align: center;
  }

  img.circle{
    max-height: 50px;
    max-width: 50px;
    background: #ffffff;
  }
  
  /* ABOUT */

  #aboutPortrait {
    max-width:100%;
    max-height:100%;
  }

  @media screen and (max-width: 993px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      text-align: center;
      margin-top: 0;
    }
    .sidebar a {
      float: left;
      align-items: center;
  }
    div.container-fluid {
    margin: auto;
    margin-top: 50px;
  }
    div.content {
      margin-left: 0;
    }
    .pageLinks{
      display: inline-block;
      padding-top: 15px;
    }
    div.webLinks {
      position: relative;
      float: right;
      padding-top: 15px;
      width: auto;
    }
}

  @media screen and (max-width: 385px) {
    .sidebar a, .webLinks {
      text-align: center;
      float: none;
    }
    div.container-fluid {
      padding-top: 0px;

    }

    .pageHead {
      text-align: center;
    }

    #myCanvas {
      width: 300px;
      height: 300px;
    }
  }