body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #36393f;
    color: white;
  }
  h1 {
    color: #7289DA;
  }

  /* SIDEBAR */

  .sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #2f3136;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 14px;
    z-index: 2;
  }
  
  .sidebar a {
    display: block;
    color: #737f8c;
    padding: 18px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #36393f;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color:#7289DA;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  div.container-fluid {
    padding-top: 100px;
    margin-left: 150px;
    margin-right: 50px;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

   div.webLinks {
    position: absolute;
    bottom: 0;
    width: 100px;
    text-align: center;
  }

  img.circle{
    max-height: 50px;
    max-width: 50px;
    background: #ffffff;
  }

  .banner {
    background-color: #23272A;
  }

  .btn-small {
    background-color:#7289DA;
  }
  .btn-small:hover {
    background-color:#8CA3F4;
  }

  /* INDEX */

  .indexWrapper{
    text-align: center;
  }

  #indexLogo {
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* ABOUT */

  #aboutPortrait {
    max-width:100%;
    max-height:100%;
  }


  /* SKILLS */

  canvas {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  /* PORTFOLIO */

  .portContainer {
    margin-top: -60px;
    /* margin-right: 300px; */
  }

  .portWrapper {
   background-color: white;
   color: black;
   box-shadow: 7px 7px 5px #23272A;
   border-radius: 5px;
  }

  .portDesWrapper {
    margin: 10px 0px 10px 10px;
  }

  .portTitle {
    margin: 0px 0px -20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  .portSubtitle {
    text-align: center;
    font-size: 14px;
  }

  .chipWrapper {
    text-align: center;
  }
  .chip {
    color:white;
    background-color:#99AAB5;
  }

  .portPara {
    text-align: center;
  }

  .buttons {
    text-align: center;
    margin-top: 20px;
  }
  .buttons a {
    margin-right: 5px;
  }

  .portfolioImg {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #36393f;
    border-width: 1px;
    border-radius: 5px;
    /* float: right; */
  }
  
   /* MEDIA */

  @media screen and (max-width: 993px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      text-align: center;
    }
    .sidebar a {
      float: left;
      align-items: center;
    }
    div.container-fluid {
      margin: auto;
      padding-top: 50px;
    }
    div.content {
      margin-left: 0;
    }
    .pageLinks{
      display: inline-block;
      padding-top: 15px;
    }
    div.webLinks {
      position: relative;
      float: right;
      padding-top: 15px;
      width: auto;
    }
    #indexLogo {
      max-width:100%;
      max-height:100%;
    }
    #myCanvas {
      width: 400px;
      height: 400px;
    }
    .portfolioImg {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
}

  @media screen and (max-width: 385px) { 
    .sidebar a, .webLinks {
      float: none;
    }

    div.container-fluid {
      padding-top: 0px;
    }

    .pageHead {
      text-align: center;
    }

    .portContainer {
      margin-top: 0px;
    }
    .portfolioImg {
      max-height: 90%;
      max-width: 90%;
    }
    #myCanvas {
      width: 300px;
      height: 300px;
    }

  }